html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth; }

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

p {
  margin: 0; }

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  line-height: 100%; }

button {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.section-title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: uppercase; }
  .section-title--accent {
    color: #FF9C01; }
  .section-title--icon {
    margin-left: 10px; }

.swiper-pagination-bullet {
  width: 17px;
  height: 17px;
  background-color: #fff;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.swiper-pagination-bullet-active {
  width: 128px;
  border-radius: 99px; }

.header {
  padding-top: 15px;
  background-color: #FFAB00;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 170%; }
  .header__menu {
    position: relative;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__logo {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #fff; }
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__contact {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 27px; }
    .header__contact--phone {
      margin-right: 32px; }
    .header__contact::after {
      -webkit-transition: 0.4s;
      transition: 0.4s;
      position: absolute;
      content: "";
      display: block;
      bottom: -2px;
      right: 0;
      width: 0;
      height: 2px;
      border-radius: 20px;
      background-color: transparent; }
    .header__contact:hover::after {
      background-color: #fff;
      width: 100%;
      left: 0; }
  .header__icon {
    margin-right: 8px; }
  .header__button-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 6px 23px;
    background-color: #fff;
    border-radius: 100px;
    color: #FFAB00;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 170%;
    border: 2px solid #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s; }
    .header__button > picture {
      height: 24px;
      width: 24px;
      margin-right: 13px; }
    .header__button:first-child {
      margin-right: 10px; }
    .header__button:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
  .header-button__img {
    margin-right: 13px;
    width: 24px;
    height: 24px; }

.hero {
  position: relative;
  height: 100vh;
  min-height: 830px; }
  .hero::after {
    position: absolute;
    content: '';
    width: 1280px;
    height: 675px;
    top: 62px;
    left: 50%;
    -webkit-transform: translateX(-51%);
            transform: translateX(-51%);
    background-image: url(../images/header-balls.png);
    background-repeat: no-repeat;
    background-size: cover; }
  .hero-wrapper {
    background-color: #FFAB00;
    -webkit-clip-path: ellipse(100% 100% at 50% 0%);
            clip-path: ellipse(100% 100% at 50% 0%);
    height: 433px; }
  .hero-socials {
    position: absolute;
    right: 28px;
    top: 282px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .hero-socials__item:first-child {
      margin-bottom: 20px; }
    .hero-socials__item:last-child {
      margin-top: 20px; }
  .hero-image {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 0; }
  .hero__phone {
    width: 568px;
    height: 861px; }
  .hero-button {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 0;
    z-index: 5; }
    .hero-button__img {
      position: relative;
      width: 95px;
      height: 95px; }
    .hero-button__arrow {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }

.upload {
  position: relative;
  z-index: 5; }
  .upload-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .upload__img {
    width: 343px;
    height: 606px; }
  .upload-info {
    max-width: 628px; }
  .upload__title {
    margin-bottom: 25px;
    font-size: 42px; }
    .upload__title--icon {
      width: 30px;
      height: 30px;
      margin-left: 14px; }
  .upload__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #768C9B;
    margin-bottom: 73px; }
  .upload__link:first-child {
    margin-right: 23px; }
  .upload__link-img {
    width: 215px;
    height: 71px; }

.favorite {
  position: relative;
  overflow: hidden;
  padding: 240px 0 120px;
  background: radial-gradient(95.07% 134.5% at 50% -42.05%, #513E63 0%, #282837 29.64%, #4D4793 85.3%, #9260A9 100%);
  -webkit-clip-path: ellipse(100% 100% at 50% 0%);
          clip-path: ellipse(100% 100% at 50% 0%); }
  .favorite::before {
    position: absolute;
    content: '';
    top: -510px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-clip-path: ellipse(100% 100% at 50% 0%);
            clip-path: ellipse(100% 100% at 50% 0%); }
  .favorite-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .favorite__info {
    -ms-flex-item-align: self-start;
        -ms-grid-row-align: self-start;
        align-self: self-start;
    min-height: 265px;
    max-width: 50%;
    color: #fff; }
  .favorite__title {
    max-width: 445px;
    margin-bottom: 20px;
    font-size: 32px; }
    .favorite__title--icon {
      width: 30px;
      height: 30px; }
  .favorite__text {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%; }
  .favorite__count-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start; }
  .favorite__count-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 49px; }
  .favorite__count-number {
    font-weight: 600;
    font-size: 37px;
    line-height: 43px; }
  .favorite__count-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px; }
  .favorite-img {
    position: absolute;
    right: -69px;
    bottom: -130px;
    width: 371px;
    height: 637px; }

.platform {
  padding: 69px 0 74px; }
  .platform-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .platform__info {
    max-width: 445px; }
  .platform__title {
    max-width: 369px;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 30px; }
    .platform__title-icon {
      width: 30px;
      height: 30px; }
  .platform__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #4E5C66; }
  .platform__map {
    position: relative; }
    .platform__map-img {
      width: 633px;
      height: 271px; }
  .platform__icon {
    position: absolute; }
    .platform__icon--srimps {
      top: 86px;
      left: 57px;
      width: 109px;
      height: 65px; }
    .platform__icon--chicken {
      left: 146px;
      bottom: 80px;
      width: 110px;
      height: 65px; }
    .platform__icon--glasses {
      bottom: 50px;
      right: 231px;
      width: 132px;
      height: 70px; }
    .platform__icon--cake {
      top: 90px;
      right: 100px;
      width: 144px;
      height: 79px; }

.delivery {
  position: relative; }
  .delivery::after {
    position: absolute;
    content: '';
    background-image: url(../images/delivery-balls.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 461px;
    height: 648px;
    top: -19px;
    right: 12%;
    z-index: 1; }
  .delivery-wrapper {
    min-height: 620px;
    -webkit-clip-path: ellipse(100% 100% at 50% 100%);
            clip-path: ellipse(100% 100% at 50% 100%);
    background: radial-gradient(95.07% 139.28% at 50% -43.54%, #FFAB00 0%, #FFCD68 29.64%, #FFAB00 85.3%, #FFAB00 100%);
    padding-top: 164px; }
  .delivery__image {
    width: 540px;
    height: 709px; }
    .delivery__image-block {
      position: absolute;
      top: 15px;
      right: 50%;
      margin-top: -40px;
      z-index: 10; }
      .delivery__image-block::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(82.72%, rgba(255, 255, 255, 0)), color-stop(94.69%, rgba(255, 255, 255, 0.86)), color-stop(98.56%, #FFFFFF));
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 82.72%, rgba(255, 255, 255, 0.86) 94.69%, #FFFFFF 98.56%); }
  .delivery__info {
    margin-top: -30px;
    margin-left: auto;
    max-width: 523px;
    color: #FFFFFF; }
  .delivery__title {
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 30px; }
    .delivery__title--icon {
      width: 30px;
      height: 30px; }
  .delivery__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%; }

.faq {
  padding-top: 260px;
  -webkit-clip-path: ellipse(100% 100% at 50% 100%);
          clip-path: ellipse(100% 100% at 50% 100%);
  margin-top: -140px;
  background-color: #fff; }
  .faq-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .faq__info {
    padding-top: 200px; }
  .faq__title {
    margin-bottom: 25px;
    max-width: 445px;
    font-size: 32px;
    line-height: 120%;
    color: #000000; }
    .faq__title--icon {
      width: 30px;
      height: 30px; }
  .faq-image-block {
    width: 523px;
    height: 728px; }
  .faq__img {
    width: 100%;
    height: auto; }
  .faq-accordeon {
    width: 540px; }
    .faq-accordeon__item {
      color: #4E5C66; }
    .faq-accordeon__question {
      position: relative;
      padding: 5px 12px 5px 10px;
      background-color: #FFFFFF;
      -webkit-box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
              box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      margin-bottom: 5px;
      font-weight: 700;
      font-size: 16px;
      line-height: 170%;
      cursor: pointer; }
      .faq-accordeon__question::after {
        position: absolute;
        right: 12px;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        content: '';
        width: 0;
        height: 0;
        border-top: 5px solid #F7620F;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        -webkit-transition: all 0.5s;
        transition: all 0.5s; }
      .faq-accordeon__question--active.faq-accordeon__question::after {
        -webkit-transform: rotateX(180deg);
                transform: rotateX(180deg);
        -webkit-transform-origin: center;
                transform-origin: center; }
    .faq-accordeon__answer {
      padding: 5px 10px 15px;
      font-weight: 400;
      font-size: 14px;
      line-height: 175%;
      display: none; }

.rewievs {
  position: relative; }
  .rewievs::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 25px;
    left: 0;
    background: radial-gradient(95.07% 139.28% at 50% -43.54%, #513E63 0%, #282837 29.64%, #4D4793 85.3%, #9260A9 100%);
    -webkit-clip-path: ellipse(100% 100% at 50% 0);
            clip-path: ellipse(100% 100% at 50% 0);
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .rewievs::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/rewievs-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1; }
  .rewievs-wrapper {
    position: relative;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    min-height: 550px; }
    .rewievs-wrapper::after {
      position: absolute;
      content: '';
      top: -20px;
      right: -80px;
      width: 730px;
      height: 605px;
      background-image: url(../images/rewievs-balls.png);
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1; }
  .rewievs__image {
    width: 479px;
    height: 551px; }
    .rewievs__image-block {
      position: absolute;
      top: -30px;
      left: 0; }
  .rewievs__info {
    max-width: 445px;
    color: #FFFFFF; }
  .rewievs__title {
    font-size: 32px;
    line-height: 98.9%;
    margin-bottom: 20px; }
    .rewievs__title--icon {
      margin-left: 10px;
      width: 30px;
      height: 30px; }
  .rewievs__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 20px; }
  .rewievs-slider {
    position: relative;
    z-index: 2; }
    .rewievs-slider__wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: start;
      padding-top: 37px; }
    .rewievs-slider__slide {
      cursor: -webkit-grab;
      cursor: grab; }
    .rewievs-slider__pagination {
      position: absolute;
      top: 0;
      left: 0;
      height: 17px;
      text-align: left; }
    .rewievs-slider__text {
      font-family: 'Times New Roman';
      font-style: italic;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      margin-bottom: 10px; }
    .rewievs-slider__author {
      display: block;
      font-weight: 700;
      font-size: 14px;
      line-height: 150%;
      text-align: right; }

.contact {
  position: relative;
  padding: 156px 0 120px;
  background-color: #fff;
  min-height: 540px; }
  .contact::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100px;
    left: 0;
    -webkit-clip-path: ellipse(100% 100% at 50% 0);
            clip-path: ellipse(100% 100% at 50% 0);
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    background-color: #fff; }
  .contact::after {
    position: absolute;
    content: '';
    right: 0;
    top: -120px;
    width: 653px;
    height: 233px;
    background-image: url(../images/contact-bg.png);
    background-repeat: no-repeat;
    background-size: cover; }
  .contact-wrapper {
    position: relative;
    padding: 30px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 15px; }
  .contact__title {
    font-size: 32px;
    line-height: 98.9%;
    color: #414141;
    margin-bottom: 10px; }
    .contact__title--icon {
      width: 30px;
      height: 30px;
      margin-left: 10px;
      vertical-align: bottom; }
  .contact__text {
    font-size: 14px;
    line-height: 150%;
    color: #414141;
    margin-bottom: 20px; }
  .contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .contact-form__input {
      min-height: 41px;
      border: none;
      margin-bottom: 10px;
      padding: 11px;
      background: #EEEFF2;
      border-radius: 8px;
      -ms-flex-preferred-size: 24.3%;
          flex-basis: 24.3%;
      vertical-align: middle;
      outline: none; }
      .contact-form__input::-webkit-input-placeholder {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #4E5C66; }
      .contact-form__input:-ms-input-placeholder {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #4E5C66; }
      .contact-form__input::-ms-input-placeholder {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #4E5C66; }
      .contact-form__input::placeholder {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #4E5C66; }
    .contact-form__btn {
      -ms-flex-preferred-size: 18.5%;
          flex-basis: 18.5%;
      background-color: #F7620F;
      padding: 25px 50px;
      border-radius: 8px;
      color: #fff;
      font-weight: 900;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.02em;
      text-transform: uppercase; }
    .contact-form__text {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
      font-size: 14px;
      line-height: 150%;
      color: #414141;
      margin-top: -21px; }
    .contact-form__link {
      text-decoration: underline; }

.footer {
  background-color: #FFAB00; }
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 170%;
    color: #fff; }
  .footer__logo {
    width: 37px;
    height: 42px; }
  .footer__contacts {
    margin-left: auto;
    margin-right: 98px; }
  .footer__phone {
    position: relative;
    padding-left: 26px;
    margin-right: 32px; }
    .footer__phone::before {
      content: '';
      position: absolute;
      width: 18px;
      height: 18px;
      top: -1px;
      left: 0;
      background-image: url(../images/icons/phone.svg); }
  .footer__email {
    position: relative;
    padding-left: 27px; }
    .footer__email::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: -2px;
      background-image: url(../images/icons/email.svg); }
  .footer__btn {
    background-color: #FFF;
    border-radius: 100px;
    padding: 8px 25px;
    color: #FFAB00;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 170%; }

@media (max-width: 1360px) {
  .container {
    max-width: 890px; }
  .header-button:first-child {
    background-color: transparent;
    border: none;
    padding: 3px;
    margin-right: 15px; }
    .header-button:first-child > span {
      display: none; }
    .header-button:first-child > picture {
      margin: 0; }
    .header-button:first-child__img {
      margin: 0; }
  .header__contacts {
    margin-left: auto; }
  .header__contact {
    margin-right: 15px; }
    .header__contact > span {
      display: none; }
    .header__contact--phone {
      margin-right: 15px; }
  .header__icon {
    margin: 0;
    width: 24px;
    height: 24px; }
  .hero::after {
    width: 890px;
    height: 585px; }
  .upload__img {
    width: 160px;
    height: 283px; }
  .upload-info {
    max-width: 75%; }
  .upload__title {
    font-size: 18px;
    margin-bottom: 9px; }
    .upload__title--icon {
      width: 18px;
      height: 18px;
      margin-left: 3px; }
  .upload__text {
    font-size: 16px;
    margin-bottom: 9px; }
  .upload__link:first-child {
    margin-right: 21px; }
  .upload__link-img {
    width: 117px;
    height: 39px; }
  .favorite {
    padding: 110px 0 0; }
    .favorite::before {
      top: -305px; }
    .favorite__info {
      max-width: 75%; }
    .favorite__title {
      font-size: 18px;
      margin-bottom: 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .favorite__title > span {
        margin-right: 8px; }
      .favorite__title > picture {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3; }
      .favorite__title--icon {
        width: 22px;
        height: 22px; }
    .favorite__text {
      font-size: 16px;
      margin-bottom: 15px; }
    .favorite-img {
      width: 210px;
      height: 390px;
      right: 0;
      bottom: -15px; }
    .favorite__count-item {
      margin-right: 20px; }
    .favorite__count-number {
      font-size: 18px;
      line-height: 19px; }
    .favorite__count-text {
      font-size: 16px;
      line-height: 16px; }
  .platform-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .platform__info {
    max-width: 100%; }
  .platform__title {
    max-width: 100%;
    font-size: 18px;
    margin-bottom: 15px; }
    .platform__title > picture {
      width: 20px;
      height: 20px; }
    .platform__title--icon {
      width: 20px;
      height: 20px; }
  .platform__text {
    font-size: 16px;
    margin-bottom: 0; }
  .platform__map-img {
    width: 100%;
    height: auto; }
  .platform__icon--srimps {
    top: 33%;
    left: 10%; }
  .platform__icon--chicken {
    top: 50%;
    left: 25%; }
  .platform__icon--glasses {
    bottom: 20%;
    left: 45%; }
  .platform__icon--cake {
    top: 30%;
    right: 15%; }
  .delivery__image {
    width: 222px;
    height: 291px; }
    .delivery__image-block {
      margin-top: 0;
      right: 70%;
      top: 7%; }
      .delivery__image-block::after {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(82.72%, rgba(255, 187, 48, 0)), color-stop(94.69%, rgba(255, 190, 58, 0.88)), color-stop(98.56%, #FFBF3D));
        background: linear-gradient(180deg, rgba(255, 187, 48, 0) 82.72%, rgba(255, 190, 58, 0.88) 94.69%, #FFBF3D 98.56%); }
  .delivery::after {
    height: 90px; }
  .delivery-wrapper {
    min-height: 450px;
    padding-top: 90px; }
  .delivery__title {
    font-size: 18px;
    margin-bottom: 15px; }
  .delivery__text {
    font-size: 16px; }
  .faq {
    padding: 25px 0 65px;
    margin-top: -101px; }
    .faq-image-block {
      display: none; }
    .faq__info {
      width: 100%;
      padding-top: 75px; }
    .faq__title {
      max-width: 100%;
      font-size: 18px;
      margin-bottom: 28px; }
    .faq-accordeon {
      width: 100%; }
      .faq-accordeon__question {
        font-size: 18px; }
      .faq-accordeon__answer {
        font-size: 16px; }
  .rewievs__image-block {
    display: none; }
  .rewievs__info {
    max-width: 100%; }
  .rewievs__title {
    font-size: 18px; }
  .rewievs__text {
    font-size: 16px; }
  .rewievs-wrapper::after {
    display: none; }
  .rewievs-slider__text {
    font-size: 16px;
    letter-spacing: 0.3px; }
  .contact {
    min-height: 320px;
    padding-bottom: 0; }
    .contact::after {
      display: none; }
    .contact-wrapper {
      position: absolute;
      top: -120px;
      width: 86%; }
    .contact-form__input {
      -ms-flex-preferred-size: 49.5%;
          flex-basis: 49.5%; }
    .contact-form__btn {
      -ms-flex-preferred-size: 49.5%;
          flex-basis: 49.5%;
      padding: 11px 0; }
    .contact-form__text {
      margin-top: 0; } }
