html,
body {
  margin: 0;
  padding: 0; }

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

p {
  margin: 0; }

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  line-height: 100%; }

button {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }

.header {
  padding-top: 15px;
  background-color: #FFAB00;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 170%; }
  .header__menu {
    position: relative;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__logo {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #fff; }
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__contact {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 27px; }
    .header__contact--phone {
      margin-right: 32px; }
    .header__contact::after {
      -webkit-transition: 0.2s;
      transition: 0.2s;
      position: absolute;
      content: "";
      display: block;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 2px;
      border-radius: 20px;
      background-color: transparent; }
    .header__contact:hover::after {
      background-color: #fff; }
  .header__icon {
    margin-right: 8px; }
  .header__button-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 6px 23px;
    background-color: #fff;
    border-radius: 100px;
    color: #FFAB00;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 170%;
    border: 2px solid #fff;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .header__button:first-child {
      margin-right: 10px; }
    .header__button:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
  .header-button__img {
    margin-right: 13px; }

.hero {
  position: relative; }
  .hero-wrapper {
    background-color: #FFAB00;
    -webkit-clip-path: ellipse(100% 100% at 50% 0%);
            clip-path: ellipse(100% 100% at 50% 0%);
    min-height: 433px; }
  .hero-socials {
    position: absolute;
    right: 28px;
    bottom: 112px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .hero-socials__item:first-child {
      margin-bottom: 20px; }
    .hero-socials__item:last-child {
      margin-top: 20px; }
  .hero-image {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 0; }
